header {
  background-color:white;
  margin-bottom: 4px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around ;
  
  list-style: none;
  margin: 0; 
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom:rgba(255, 255, 255,0.3);
  }
}

#menul {
  display: flex;
  flex-flow: row;
  justify-content: left;
  list-style: none;
}

#menur {
display: flex;
flex-flow: row;
justify-content: left;
list-style: none;
}

#menulogo {
  max-height: 25px; 
}

#searchlogo {
  max-height: 25px;
}

#socialmediabuttons {
  display: flex;
  flex-flow: row;
  justify-content: left;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#frontimage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#Tittle {
  
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  
}

#contentbody1 {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#suscribe {
  text-align: center;
}

#box1 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  background: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: cover;
  flex-flow: row wrap;
  margin-left: -50px;
  list-style: none;
}

.flex-item {
  margin: 18;
  width: 250px;
  margin-top: 140px;
  height:180px;
  text-align:left;
  font-size: 9;
}

header {
  max-height: 50px;
  margin-top: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: grey;
  text-align:center;
}

#articlename {
  font-size: 20;
}